<div class="text-center space">
    <form method="POST" action="{{ url_for('filter_activities') }}">
        <div class="form-outline mb-4">
            <label class="form-label" for="month">Choose month : </label>
            <select class="select" id="month" name="month">
                <option>Select....</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>

            
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
