{% extends "base.html" %}
{% block content %}


<div class="jumbotron text-center">
  <div class="slider">
    <div class="card bg-dark text-white">

      <h1 class="display-4">Welcome!</h1>
      <p class="lead">The place to get a years worth of waldorf inspired activities for your kindergartner</p>
      <hr class="my-4">
      <p>Aimed at children between ages 3 - 6 year olds.</p>
      <p class="lead">
        <a class="btn game btn-lg" href="{{url_for('register')}}" role="button">Register</a>
        <a class="btn watercolour btn-lg" href="{{url_for('login')}}" role="button">Login</a>
      </p>
    </div>

  </div>

</div>


{% endblock %}