{% extends "base.html" %}
{% block content %}


<div class="jumbotron text-center">
  <div class="slider">
    <div class="card bg-dark text-white">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">The place to get a years worth of waldorf inspired activities for your kindergartner</p>
      <hr class="my-4">
      <p>Aimed at children between ages 3 - 6 year olds.</p>
      <p class="lead">
        <a class="btn game btn-lg" href="{{url_for('register')}}" role="button">Register</a>
        <a class="btn watercolour btn-lg" href="{{url_for('login')}}" role="button">Login</a>
      </p>
    </div>
  </div>
</div>
<div>
  <div class="story">
    <h2>Who is this for?</h2>
    <p>
      Are you a parent/carer and or a homeschooler? Are you looking for ideas to keep your pre-schooler or kindergartner learning in a playful manner? Do you like the idea of montessori and waldorf steinar based learning? If so, you are in the right place?
    </p>
  </div>
  <div class="craft">
    <h2> How does it work?</h2>
    <p> Once you register, you have immediate access to inspired activites for the current month. These are grouped into weeks and have been designed for the busy parent/grown-up in mind. They are quick snapshots to help you plan your week of play-based learning without feeling overwhelmed with large amounts of information to impart to your little human. 
    </p>
  </div>
  <div class="watercolour">
    <h2>Kindergarten Days...</h2>
    <p>
      The life of the Kindergarten child should be largely filled with:
      <ul>
        <li>time spent outdoors</li>
        <li>creative play with natural toys</li>
        <li>modeling activities of the parent (helping them do dishes, cook, clean, care for siblings</li>
        <li>teaching the older or younger siblings lessons</li>
      </ul> 
    </p>
    <p>
    Your family schedule should always be the priority. You can choose to follow this schedule as
    little or as much as you would like. Follow the schedule exactly or skip some items. 
    Let it be your guide and be there for you
    when you need it as a support system for you and your early childhood angel!
    </p>
  </div>
</div>


{% endblock %}