{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    
{% endfor %}

<div class="jumbotron jumbotron-login">
    <h3 class="text-center space">Login</h3>
    <div class="container form-size">
    {% include 'components/forms/login.html' %}
    </div>
</div>

    

{% endblock %}