.navbar {
     background-color: #b82cb9; 
} 

.story {
     background-color: #ff4f9a;
}

.craft {
     background-color: #f6b647;
}

.watercolour {
     background-color: #6cce3b;
}

.game {
     background-color: #38b2ff;
}