h1, h2, h3, h4 {
     font-family: 'Montserrat', sans-serif;
     font-size: 2rem;
}

body, .accordion-header {
     font-family: 'Crimson Text', serif;
     font-size: 1.3rem;
}
input[type="checkbox"] {
     margin-left: 5em;
 }

/* button.btn.game, button.btn.watercolour {
     margin-top: 1rem;
 } */

.jumbotron{
     background-image: url(../images/waldorf-kindergarten-home.png);
     height: 100vh;
     background-size: cover;
}

.jumbotron-register{
     background-image: url(../images/waldorf-register2.png);
}

.jumbotron-login{
     background-image: url(../images/waldorf-login.png);
}

.jumbotron-bg2{
     background-image: url(../images/bg2.png);
     
}
.jumbotron-bg1 {
     background-image: url(../images/bg1.png);
     height: auto;
     
}
.slider {
     padding-top: 10rem;
 }

.bg-dark {
     --bs-bg-opacity: .3;
}
.activity-title {
     margin-left: 1rem;
     margin-top: 1rem;
}

.card {
     
     background-color: transparent;
     
}

.form-size {
     max-width: 600px;
}

.navbar {
     background-color: #b82cb9; 
} 
.btn-2 {
     margin-top: 10px;
}
.btn-outline-dark {

     margin-left: 5rem;
 }
.space {
     padding-top: 3em;
}


.story, .story:not(.collapsed) {
     background-color: #ff4f9a;
     color: black;
}

.craft, .craft:not(.collapsed) {
     background-color: #f6b647;
     color: black;
}

.watercolour, .watercolour:not(.collapsed) {
     background-color: #6cce3b;
     color: black;
}

.game, .game:not(.collapsed) {
     background-color: #38b2ff;
     color: black;
}

.date, .date:not(.collapsed) {
     background-color: #b82cb9;
     color: black;
}

/* Media Queries*/
