<div class="card">
    <div class="card-body">

        <form method="POST" action="{{ url_for('edit_activity', activity_id=activity._id) }}">
            <!-- Month Select -->
            <div class="form-outline mb-4">

                <select class="select" id="month" name="month">
                    {% for month in ['January','February','March','April','May','June','July','August','September','October','November','December'] %}
                        {% if activity.month == month %}
                        <option selected value="{{ month }}">{{ month }}</option>
                        {% else %}
                        <option value="{{ month }}">{{ month }}</option>
                        {% endif %}

                    {% endfor %}
                </select>

                <label class="form-label" for="month">Month name</label>
            </div>


            <!-- Text inputs for the Theme and Letter of the Week -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="theme" name="theme" value="{{ activity.theme }}" class="form-control"
                            required />
                        <label class="form-label" for="theme">Week : Theme Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="letter-of-week" name="letter-of-week"
                            value="{{ activity.letter_of_week }}" class="form-control" />
                        <label class="form-label" for="letter-of-week">Letter of the Week</label>
                    </div>
                </div>
            </div>

            <!-- Text inputs for the Book Name and Description -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="book" name="book" value="{{ activity.book }}" class="form-control"
                            required />
                        <label class="form-label" for="book">Book Name </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="book_description" name="book_description"
                            value="{{ activity.book_description }}" class="form-control" />
                        <label class="form-label" for="book_description">Book Description</label>
                    </div>
                </div>
            </div>

            <!-- Text inputs for the Craft and Description -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="craft" name="craft" value="{{ activity.craft }}" class="form-control"
                            required />
                        <label class="form-label" for="craft">Craft Name </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="craft_description" name="craft_description" rows="4">{{- activity.craft_description -}}
                        </textarea>
                        <label class="form-label" for="craft_description">Craft Description</label>
                    </div>
                </div>
            </div>

            <!-- Text inputs for the Watercolour and Description -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="watercolour" name="watercolour" value="{{ activity.watercolour }}"
                            class="form-control" required />
                        <label class="form-label" for="watercolour">Watercolour Title <label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="watercolour_description" name="watercolour_description"
                            rows="4">
                        {{- activity.watercolour_description -}}
                        </textarea>
                        <label class="form-label" for="watercolour_description
                    ">Watercolour Story Description</label>
                    </div>
                </div>
            </div>

            <!-- Text inputs for the Games and Description -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="game" name="game" value="{{ activity.game }}" class="form-control"
                            required />
                        <label class="form-label" for="game">Game Name </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="game_description" name="game_description" rows="4">
                        {{- activity.game_description -}}
                        </textarea>
                        <label class="form-label" for="game_description
                    ">Game Description</label>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Save Edit</button>
        </form>
    </div>
</div>