{% extends "base.html" %}
{% block content %}

{% include 'components/forms/months.html'%}
<div class="accordion" id="category_name">
  {% for activity in activities %}
  {% include 'components/accordion.html' %}
</div>

<div class="accordion-item">
  
  <h2 class="accordion-header" id="headingOne">
    
    <button class="accordion-button collapsed story" type="button" data-bs-toggle="collapse"
      data-bs-target="#id_book_{{ activity._id }}" aria-expanded="true" aria-controls="#id_book_{{ activity._id }}">
      <strong>Story of the Week </strong>: {{ activity.book }} 
      {% if activity.is_completed == "on" %}
      <i class="fas fa-check-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="right"
        title="You have completed this task!">
      </i>
      {% endif %}
    
    </button>
  </h2>

  
  <div id="id_book_{{ activity._id }}"class="accordion-collapse collapse" aria-labelledby="headingOne"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
      {{ activity.book_description}}
      <a class="btn btn-outline-dark" data-toggle="collapse" href="{{ url_for('edit_activity', activity_id=activity._id) }}" role="button" aria-expanded="false" aria-controls="collapseExample">
        EDIT
      </a>
      <input type="checkbox" name="box"/> DONE
    </div>
  </div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed craft" type="button" data-bs-toggle="collapse"
      data-bs-target="#id_crafts_{{ activity._id }}" aria-expanded="true" aria-controls="#id_crafts_{{ activity._id }}">
      <strong>Craft of the Week </strong>: {{ activity.craft }}
      {% if activity.is_completed == "on" %}
      <i class="fas fa-check-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="right"
        title="You have completed this task!">
      </i>
      {% endif %}
    </button>
  </h2>
  <div id="id_crafts_{{ activity._id }}" class="accordion-collapse collapse" aria-labelledby="headingTwo">
    <div class="accordion-body">
      {{ activity.craft_description}}
      <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        EDIT
      </a>
      <input type="checkbox" name="box"/> DONE
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed watercolour" type="button" data-bs-toggle="collapse"
      data-bs-target="#id_paintings_{{ activity._id }}" aria-expanded="false" aria-controls="#id_paintings_{{ activity._id }}">
      <strong>Watercolour of the Week </strong>: {{ activity.watercolour }}
      {% if activity.is_completed == "on" %}
      <i class="fas fa-check-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="right"
        title="You have completed this task!">
      </i>
      {% endif %}
      
    </button>
  </h2>
  <div id="id_paintings_{{ activity._id }}" class="accordion-collapse collapse" aria-labelledby="headingThree">
    <div class="accordion-body">
      {{ activity.watercolour_description}}
      <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        EDIT
      </a>
      <input type="checkbox" name="box"/> DONE
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingFour">
    <button class="accordion-button collapsed game" type="button" data-bs-toggle="collapse"
      data-bs-target="#id_games_{{ activity._id }}" aria-expanded="false" aria-controls="#id_games_{{ activity._id }}">
      <strong>Game of the Week </strong>: {{ activity.game }}
      {% if activity.is_completed == "on" %}
      <i class="fas fa-check-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="right"
        title="You have completed this task!">
      </i>
      {% endif %}
    </button>
  </h2>
  <div id="id_games_{{ activity._id }}" class="accordion-collapse collapse" aria-labelledby="headingFour">
    <div class="accordion-body">
      {{ activity.game_description}}
      <a class="btn btn-outline-dark" data-toggle="collapse" href="{{ url_for('edit_activity', activity_id=activity._id) }}" role="button" aria-expanded="false" aria-controls="collapseExample">
        EDIT
      </a>
      <input type="checkbox" name="box"/> DONE
    </div>
  </div>
</div>


  {% endfor %}
</div>
{% endblock %}