{% extends "base.html" %}
{% block content %}

    <h3 class="text-center display-5">Add Activity</h3>
    <div class="container">
    <form method="POST" action="">
         <!-- Month Select -->
         <div class="form-outline mb-4">
            <input type="text" id="month" name="month" class="form-control" />
            <select class="select" id="month">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            
            <label class="form-label" for="month">Month name</label>
          </div>
          
        <!-- 2 column grid layout with text inputs for the Theme and Letter of the Week -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="theme" name ="theme" class="form-control" required />
              <label class="form-label" for="theme">Week : Theme Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="letter_of_week
              " name="letter_of_week
              "class="form-control" />
              <label class="form-label" for="letter_of_week
              ">Letter of the Week</label>
            </div>
          </div>
        </div>

        <!-- 2 column grid layout with text inputs for the Book Name and Description -->
        <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="book" name ="book" class="form-control" required />
                <label class="form-label" for="book">Book Name </label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="book_description
                " name="book_description
                "class="form-control" />
                <label class="form-label" for="book_description
                ">Book Description</label>
              </div>
            </div>
          </div>

        <!-- 2 column grid layout with text inputs for the Craft and Description -->
        <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="craft" name ="craft" class="form-control" required />
                <label class="form-label" for="craft">Craft Name </label>
              </div>
            </div>
            <div class="col">
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="craft_description
                    " name="craft_description
                    "
                    rows="4"></textarea>
                    <label class="form-label" for="craft_description
                    ">Craft Description</label>
                </div>
            </div>
          </div>

        <!-- 2 column grid layout with text inputs for the Games and Description -->
        <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="game" name ="game" class="form-control" required />
                <label class="form-label" for="game">Game Name </label>
              </div>
            </div>
            <div class="col">
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="game_description
                    " name="game_description
                    "
                    rows="4"></textarea>
                    <label class="form-label" for="game_description
                    ">Game Description</label>
                </div>
            </div>
          </div>
      
       
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Save Activity</button>
      </form>
    </div>

{% endblock %}