

<div class="row space">
    <div class="card">
        <div class="card-body">
          <h3 class="text-center">
              {{ username }}'s profile
          </h3>
            <p>Hello {{ username }}, this is your space to get some more information as you go about planning your activities.
              Or quite simple to get some space. Let's admit it - we do!
            </p>
            <p>
              So, if at some point you would like to meditate by yourself or together with your little one/s. Click on the button below to take you to the meditation space.
            </p>
          
            <div class="text-center">
                <a class="btn btn-outline-info" href="https://lolaedun.github.io/meditation/" target="_blank" role="button"> Yes, I want to meditate now!
                </a>
            </div>
        </div>
    </div>
    
</div>
