<h2 class="activity-title">{{ activity.month }} - {{ activity.theme }}</h2>
<p class="activity-title"><strong>Letter of the Week </strong> : Letter {{ activity.letter_of_week }}
{% if session.user == 'admin' %}
    <a class="btn btn-outline-dark" data-toggle="collapse" href="{{ url_for('edit_activity', activity_id=activity._id) }}" role="button" aria-expanded="false" aria-controls="collapseExample">
    EDIT
    </a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#id_{{ activity._id }}">
    DELETE
    </button>
    <!-- Modal -->
    <div class="modal fade" id="id_{{ activity._id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Activity</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to permanently delete this activity? Please note data cannot be retrived after confirming this.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" data-toggle="collapse" href="{{ url_for('delete_activity', activity_id=activity._id) }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                Confirm Delete
            </a>
            </div>
        </div>
        </div>
    </div>

{% else %}
    
{% endif %}
</p>