<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Navbar logo -->
  <a class="navbar-brand mt-2 mt-lg-0" href="{{url_for('home')}}">
    <img
      src="/static/images/kindergarten-logo.png"
      
      alt="kindergarten logo"
      loading="lazy"
    />
  </a>
  <!-- Toggle button -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left links -->
    <ul class="navbar-nav mr-auto text-center">
      
      {% if session.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('profile', username=session['user'])}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('get_activities')}}">Activities</a>
        </li>
      {% if session.user|lower == "admin"|lower %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_activity')}}">Add Activity</a>
        </li>
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register')}}">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
      
</nav>